body{
    background-color: #ECEEF1;
    font-family: 'Quicksand', Arial, sans-serif;
}

#header {
    
    display: flex;
    justify-content: center;
}

#navbar{
    display: flex;
    justify-content: center; 
}

.productLogo {
    color: rgb(151, 154, 160);  
    text-transform: lowercase;
    text-decoration: none;
}

#signInwindow {
    box-sizing: border-box;
    width: 380px;
    height: 620px;
    border-style: solid;
    border-width: 1px;
    border-color: #C7C7C7;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

}

.alignLeft {
    display: flex;
    align-self: flex-start;
}
/* .centered {
    display: flex;
    justify-content: center;
    text-align: center;
} */

#signInwindow h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 400; 
    line-height:1.1;
    color: #4c4c4c;
}

#signInwindow p{
    font-size: 14px;
    
}
form section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.link {
    text-decoration: none;
    color: rgb(0, 119, 197);
}

.link:hover {
    text-decoration: underline;
}